body{
    background-color: rgb(23, 23, 23);
}

.left-container, .right-container {
    background-color: black;
}

.dropdownList{
    background-color: #292a2d;
}

.iconLibrary path{
    fill: rgb(128, 128, 128);
}

.iconLibrary{
    width: 1rem;
}

.list-tracks{
    height: 800px;
    overflow: auto;
}